<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=.0">
        <title>registro</title>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <style>
            body{

                font-family: Arial, Helvetica, sans-serif;
                background-image: linear-gradient(to  right, #99ff66, #99ccff)
            }


        </style>
</head>
<body>
<form th:align="center">
<h1>Registros:</h1>
<a href="/add">Criar novo usuário</a><br>
    <a href="/logout">logout</a><br>


    <div th:each="ninja : ${usuarios}">
    <h4 th:inline="text">Nome: [[${ninja.usuario}]]</h4>
    <h4 th:inline="text">Senha: [[${ninja.senha}]] </h4>
    <h4 th:inline="text">Email: [[${ninja.email}]] </h4>
        <hr/>

</div>
</form>
</body>
</html>